.parent {
	width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.algorithm-section {
	display: inline-block;
}
.button {
  	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 8px;
}
label {
	margin-right: 15px;
}

ul.list {
	list-style: none;
	padding-left: 0;
}

ul.list li {
	display: inline-block;
    padding: 3px;
    font-size: 1em;
    margin: 5px;
}

ul.list li.blue {
	border: 3px solid blue;
}

ul.list li.green {
	border: 3px solid #029602;
}

.area {
    background-color: #389c38;
}
.array-size,
.input-value {
	height: 1.5em;
    font-size: 15px;
    border: 1px solid #f03232;
    border-radius: 5px;
    width: 130px;
}

.array-size {
	margin-left: 30px;
}

.not-found {
	color: red;
}

.input-filter {
	border-bottom: 1px solid #cfcaca;
    padding: 20px;
    background-color: #e4dddd;
    border-radius: 5px;
}

.slider {
  -webkit-appearance: none;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.animation {
	display: inline-block;
    border: 1px solid #c7c2c2;
    padding: 5px;
}

.animation label {
	font-size: 19px;
}











